<!DOCTYPE html>
<html>
<head>
    <title>Mushroom Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>🍄 Mushroom Classifier</h1>

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Predict</button>
    </form>

    {% if result %}
    <div class="card">
        <img src="{{ image_path }}" width="200">

        <h2>Top Predictions</h2>
        {% for g, p in top3 %}
            <p>{{ g }}: {{ "%.2f"|format(p*100) }}%</p>
        {% endfor %}

        <h3>Final Genus: {{ genus }}</h3>

        <p>Edible: {{ edible }}%</p>
        <p>Poisonous: {{ poisonous }}%</p>

        <h2 style="color: {{ color }}">{{ decision }}</h2>

        <p class="warning">
            ⚠️ Not for real-life consumption decisions
        </p>
    </div>
    {% endif %}
</div>

</body>
</html>